.active-tab {
  color: rgb(5, 218, 129);
}

.active-tab i {
  color: rgb(5, 218, 129);
}


.active-tab::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  height: 3px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background: rgb(5, 218, 129);
  width: 0;
  animation: slideIn 0.4s ease-in-out forwards;
}


@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

.active-desktop {
  color: rgb(5, 218, 129);
  background: linear-gradient(to right, rgb(5, 218, 129), rgba(5, 218, 129, 0.1));
}

.active-desktop h5 {
  color: rgb(5, 218, 129);
}

