@if(updateForm()){
<div class="fixed inset-0 flex items-center justify-center z-50">
  <!-- black overlay -->
  <div
    class="absolute inset-0 bg-black/60 backdrop-blur-sm"
    (click)="updateForm.set(null)"
  ></div>

  <!-- form -->
  <div
    class="relative bg-[#475763] rounded-2xl p-6 w-[90%] sm:w-[400px] text-center shadow-lg z-10 animate-fadeIn"
  >
    <!-- close button -->
    <i
      class="fas fa-times absolute top-3 right-3 text-gray-500 cursor-pointer hover:text-black transition"
      (click)="updateForm.set(null)"
    ></i>

    <h2 class="text-lg font-semibold text-white mb-4">Update Your Post</h2>

    <textarea
      [formControl]="textControl"
      rows="5"
      placeholder="Type something..."
      class="w-full p-3 bg-[#6e8ba1] border rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-500 resize-none"
    ></textarea>

    <button
      class="mt-4 bg-teal-600 text-white px-5 py-2 rounded-lg hover:bg-teal-700 transition disabled:opacity-50"
      [disabled]="textControl.invalid"
      (click)="onUpdate()"
    >
      @if (spinner()) {
      <div class="flex items-center justify-center">
        <h1>Updating…</h1>
        <p-progress-spinner
          strokeWidth="8"
          fill="transparent"
          animationDuration=".5s"
          [style]="{ width: '20px', height: '20px' }"
        />
      </div>
      } @else { Update }
    </button>
  </div>
</div>
}
<app-chat></app-chat>
<div
  class="w-full flex flex-col bg-[#26323b] md:w-[50%] mx-auto md:mx-px md:ms-auto relative z-[1]"
>
  <!-- welcome part Hi name whit photo -->
  <div
    class="relative mb-4 px-4 py-7 border-b-2 border-gray-600 bg-gradient-to-r from-[#2e3a44] to-[#26323b] flex items-center"
  >
    <!-- accent line -->
    <div
      class="absolute left-0 top-0 h-full w-[5px] bg-[rgb(5,218,129)] rounded-r-lg"
    ></div>

    <div>
      <!-- profile photo -->
      <div class="relative w-[90px] h-[90px] me-4 mb-2">
        <app-profile-img></app-profile-img>
      </div>

      <!-- text -->
      <div class="flex flex-col mb-1">
        <h3 class="text-[rgb(5,218,129)] font-mono text-[22px] leading-none">
          Hi
        </h3>
        <h2 class="text-white font-bold text-[20px] leading-none">
          {{ name() }}
        </h2>
      </div>
      <p class="text-[16px] shimmer-text font-[Pacifico]">
        You will find all your thoughts here...
      </p>
    </div>
  </div>

  <!-- create post selector -->
  <app-create></app-create>
  <!-- comments selector -->
  <app-comments class=""></app-comments>

  <!-- beging loop on posts list -->
  @if (userPosts()?.posts?.length && !showShimmer()) { @for (item of
  userPosts()?.posts; track item._id) {
  <div
    #post
    class="relative flex justify-around bg-[#26323b] border-b-4 p-4 pb-7 border-gray-400"
  >
    @if (shareId() === item._id) {
    <div
      class="absolute popUp-share py-3 w-[92%] flex justify-between gap-3 bottom-[-65px] h-fit z-30 p-2 bg-teal-500/50 rounded-xl transition-all duration-1000"
      [class]="
        shareId()
          ? 'opacity-[1] translate-y-[-70px]'
          : 'opacity-0 translate-y-[0]'
      "
    >
      <h2 class="text-[18px] text-white font-bold">Ready to share ?</h2>
      <button
        class="bg-blue-300 px-2 py-1 rounded-3xl text-teal-600 font-mono active:scale-[100.9%]"
        (click)="sharePost(shareId()); $event.stopPropagation()"
      >
        @if (spinner()) {
        <div class="flex items-center justify-center">
          <h1>Sharing…</h1>
          <p-progress-spinner
            strokeWidth="8"
            fill="transparent"
            animationDuration=".5s"
            [style]="{ width: '20px', height: '20px' }"
          />
        </div>
        } @else { Go Share }
      </button>
    </div>
    }
    <!-- personal profile picture with line i calculated -->
    <div class="relative p-[2px] self-start ms-auto pb-5 me-2">
      <div class="z-20 absolute top-0 w-[100px] h-1 bg-[#26323b]"></div>
      <div
        class="owner pointer-events-none relative z-20 bg-[#26323b] h-[60px]"
      >
        <img
          class="rounded-full w-[50px] h-[50px]"
          [src]="user.userImg() || item.user.photo"
          [alt]="item.user.name + ' personal photo'"
        />
      </div>
      <div
        class="line pointer-events-none z-10 absolute top-0 left-[50%] w-[70px] border-l-[3px] border-b-[3px] border-gray-400 rounded-[20px]"
      ></div>
    </div>
    <!-- anthor part with body, photo and icon options -->
    <div class="flex flex-col w-[80%]">
      <div class="flex justify-between items-center pt-4 mb-5">
        <h1 class="text-white font-bold text-[13px]">{{ item.user.name }}</h1>
        <h3 class="text-green-200 text-[13px] font-normal">
          {{ edit.getTimeAgo(item.createdAt) }}
        </h3>
      </div>
      @if(item.body){
      <h2
        class="text-white/85 text-[19px] font-normal mb-1 break-words"
        [innerHTML]="item.body"
      ></h2>
      }@if(item.image){
      <div class="flex gap-1 w-full mb-2">
        <img
          class="max-h-[450px] object-contain rounded-md"
          [src]="item.image"
          alt="post"
        />
      </div>
      }

      <div
        class="mb-3 relative border-[2px] border-gray-700 bg-[#3d4d58] self-end flex justify-around items-center rounded-3xl h-[35px] p-1 px-5"
        [class.w-[190px]]="item.user._id === userID()"
        [class.w-[140px]]="item.user._id !== userID()"
      >
        <i
          class="text-[18px] text-red-400 hover:text-[26px] transition-all duration-150 cursor-pointer"
          [class]="heart()[item._id] ? 'fas fa-heart' : 'far fa-heart'"
          (click)="makeHeart(item._id)"
        ></i>
        <i
          class="text-[#1e2830] fas fa-comment cursor-pointer hover:text-[24px] transition-all duration-150"
          (click)="commentsFunc(); callComments(item._id)"
        ></i>
        <i
          class="text-green-300 fas fa-share cursor-pointer hover:text-[24px] transition-all duration-150"
          (click)="readyToShare(item._id); $event.stopPropagation()"
        ></i>
        @if(item.user._id === userID()){
        <i
          class="text-white plus-icon fas fa-plus cursor-pointer hover:text-[24px] transition-all duration-150"
          [class.rotate-45]="showOptions() === item._id"
          (click)="options(item._id); $event.stopPropagation()"
        ></i>
        <div
          class="absolute options-wrapper right-[-15%] -translate-x-1/2 flex flex-col gap-2 transition-all duration-200"
          [class]="
            showOptions() === item._id
              ? 'opacity-100 translate-y-0 pointer-events-auto'
              : 'opacity-0 translate-y-3 pointer-events-none'
          "
          (click)="$event.stopPropagation()"
        >
          <!-- edit -->
          <div
            class="w-8 h-8 bg-white/35 rounded-full flex justify-center items-center cursor-pointer"
            (click)="openUpdateForm(item)"
          >
            <i class="fas fa-pen text-teal-400 text-[14px]"></i>
          </div>

          <!-- delete -->
          <div
            class="w-8 h-8 bg-white/35 rounded-full flex justify-center items-center cursor-pointer"
          >
            <i
              class="fas fa-trash text-red-400 text-[14px]"
              (click)="onDelete(showOptions())"
            ></i>
          </div>
        </div>
        }
      </div>
      @if(item.comments[0]){
      <div class="flex gap-2 items-start relative z-20">
        <div class="z-20 absolute left-[-8px] top-5 w-2 h-5 bg-[#26323b]"></div>
        <div class="w-[45px] h-[45px] pt-2">
          <img
            class="commentUser w-[100%] rounded-[50%] bg-white"
            src="./images/instgram user.png"
            alt="comment user"
          />
        </div>
        <div class="flex flex-col">
          <h3 class="text-white font-semibold">
            {{ item.comments[0].commentCreator.name }}
          </h3>
          <h4 class="font-light text-green-300">
            @{{ item.user.name }} <span class="text-[22px] me-1">|</span>
            <span class="text-gray-500 font-mono">{{
              item.comments[0].content
            }}</span>
          </h4>
        </div>
      </div>
      }
    </div>
  </div>
  } }@else if ((userPosts()?.posts?.length ?? 0) === 0 && !showShimmer()){
  <div class="relative">
    <img
      src="./images/uploading-file-illustration-svg-download-png-11254005.webp"
      alt="cover for no post"
      class="opacity-[0.5] py-2"
    />
    <h1
      class="text-[40px] absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] font-[Pacifico] text-white"
    >
      <span class="block">Opps</span>No posts Yet...
    </h1>
  </div>

  }@else if(showShimmer()) { @for (item of shimmer; track $index) {
  <div
    class="rounded bg-[#26323b] border border-surface-200 dark:border-surface-700 p-6 bg-surface-0 dark:bg-surface-900"
  >
    <div class="flex mb-4">
      <p-skeleton
        class="self-baseline"
        shape="circle"
        size="3rem"
        class="mr-2"
      />
      <div class="flex flex-col w-[80%]">
        <p-skeleton width="5rem" class="mb-2" />
        <p-skeleton width="10rem" class="mb-2" />
        <p-skeleton class="w-full" height="150px" />
        <div class="self-end mt-4">
          <p-skeleton width="5rem" height="1rem" />
        </div>
      </div>
    </div>
  </div>

  } }
</div>
