.link::after {
    content: '';
    position: absolute;
    left: 50%;
    z-index: -1;
    height: 500px;
    width: 70px;
  
    border-left: solid 3px gray;
    border-bottom: solid 3px gray;
    border-radius: 20px;
}

.shimmer-text {
  background: linear-gradient(
    90deg,
    #999 0%,
    #fff 20%,
    #999 40%,
    #999 100%
  );
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shimmerMove 2s linear infinite;
}

@keyframes shimmerMove {
  0% {
    background-position: -100% center;
  }
  100% {
    background-position: 100% center;
  }
}
